/* RESET */
*{margin: 0; padding: 0; color: #fff; font-family: 'Roboto', sans-serif;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* HEADER */
header {width: 100%; height: 65px;  background-color: rgba(255, 127, 80, 1); display: flex;
        justify-content: flex-start; align-items: center; box-shadow: 0 4px 10px 0px #690101;}

header .logo {color: rgba(255, 255, 255, 0.9); margin-left: 25px ; font-size: 2em; font-weight: bold;}

/* BODY */
body {background-color: rgba(255, 37, 0, 0.1); display: flex; flex-wrap: wrap; justify-content: center;}

main {display:flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%;}

.apresentation-section {width: 100%; height: 450px; background-image: url("../images/healthy-foods.jpg");
                        background-size: cover; background-position: center; display: flex; flex-direction: column;
                        align-items: center; justify-content: center; z-index: -1; text-align: center;}
.apresentation-section h1 {font-size: 5em; color:#FF4B44; font-weight: bold;}
.apresentation-section h3 {font-size: 2em;color:#FF4B44; font-weight: bold;}

.form-container {width: 100%; padding: 25px 20%; display: flex; justify-content: center;}
.form-container form {width: 60%; padding:10px 0;}
.form-container label{color: #63271F;}
.form-container form .form-group {display: flex; flex-wrap: wrap; justify-content: space-between;}
.form-container form .form-group #age-section {width: 20%;}
.form-container form .form-group #name-section {width: 70%;}
.form-container form #height-section, #weight-section {width: 75px;}
.form-container form #btn-container{width: 100%; margin:0 auto; display: flex; justify-content: center;}

.table-section {width: 100%; margin: 30px 0; display: flex; justify-content: center;}
.table-section table {background-color: #fff; border-color: black;  max-width: 500px; width: 100%;}
.table-section table thead{background-color: rgba(255, 127, 80, 1);}
.table-section table td { color: rgba(0,0,0, 0.7); font-weight: bolder;}
@media screen and (max-width:975px ){
  .form-container{padding:0;}
  .form-container form {width: 350px;}
}

.table-controler {display: flex; justify-content: center;}

/* FOOTER */
footer { width:100%; height: 75px; margin-top:25px; background-color: #C43C29; display: flex;
         justify-content: center; align-items: flex-end}
footer p {font-weight: 1em;}
