/* RESET */
*{margin: 0; padding: 0; color: #fff; font-family: 'Roboto', sans-serif;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  background-color: rgba(255, 127, 80, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px 0px #690101;
  z-index: 99;
  transition-duration: 0.3s;
}

header .logo {
  color: rgba(255, 255, 255, 0.9);
  margin-left: 25px;
  font-size: 2em;
  font-weight: bold;
}

header nav {
  transition: 0.3s
}
header nav ul {
  margin-right: 100px;
  display: block;
  width: 100%;
}

header nav ul li {
  float: left;
  list-style: none;
  display: pointer;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 25px;
}

header nav ul li:hover a {
  text-decoration: none;
  color: #fff;
  background-color: #C45729;
}

header .fas {
  position: absolute;
  right: 55px;
  font-size: 1.8em;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 950px){
  header nav { position: absolute; left:-100%; top: 8vh; width: 100%; margin: 0; padding: 0;}
  header nav ul li {width: 100%; text-align: center; background-color: #C43C29;}
  header nav ul li a{ width: 100%; display: block;}
  header .fas {display: block;}
}


.active {
  display: block;
  left: 0;
}

/* BODY */
body {
  background-color: rgba(255, 37, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel-container {
  color:#fff;
  width: 100%;
  height: 92vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: 8vh;
  transition-duration: 0.3s;
}
.carousel-container h1 {
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
}
.carousel-container h3 {
  font-size: 2em;
  font-weight: bold;
}

@media screen and (max-width: 480px){
  .carousel-container h1 {
    font-size: 3em;
  }
}

.carousel-container__image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.carousel-container__apresentation-text {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.carousel-container__image-container > img {
  min-width: 800px;
  height: 100%;
  width: 100%;
  filter: brightness(.6);
}

.current {
  animation-name: moveCurrent;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.next {
  animation-name: moveNext;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes moveCurrent {
  from{
  left: 0;
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 1;
  }
}

@keyframes moveNext {
  from{
    left: -100%;
    opacity: 1;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.form-container {
  width: 90%;
  margin: 100px auto;
  padding: 25px 20%;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
}

.form-container form {
  width: 60%;
  padding:10px 10px;
}

@media screen and (max-width: 448px){
  .form-container {
    width: 100%;
  }
}

.form-container label{
  color: #63271F;
}

.form-container form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-container form .form-group #age-section {
  width: 40%;
}

.form-container form .form-group #name-section {
  width: 55%;
}

.form-container form #height-section, #weight-section {
  width: 75px;
}

.form-container form #btn-container{
  width: 100%;
  margin:0 auto;
  display: flex;
  justify-content: center;
}

.table-section {
  width: 90%;
  height: 100%;
  min-height: 600px;
  box-shadow: 2px 2px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 30px auto;
  padding: 10px 0;
}

@media screen and (max-width: 425px){
  .table-section {
    width: 100%;
  }
}

.table-section__title h3 {
  width: 100%;
  font-size: 2.5em;
  color: rgba(0,0,0, 0.8);
  text-align: center;
  margin-bottom: 15px;
}

#target {

  display: flex;
  justify-content: center;
}

.table-section table {
  background-color: #fff;
  border-color: black;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 448px){
  .table-section table {
    font-size: .7em;
  }
}

.table-section table thead{
  background-color: rgba(255, 127, 80, 1);
}
.table-section table td {
  color: rgba(0,0,0, 0.7);
  font-weight: bolder;
}

@media screen and (max-width:975px ){
  .form-container{padding:0;}
  .form-container form {width: 350px;}
}

.table-controler {display: flex; justify-content: center;}

/* OUR TEAM SECTION */

.our-team-section {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.our-team-section__title-div{
  width: 100%;
  text-align: center;
}

.our-team-section__title-div > h3 {
  font-size: 2.5em;
  color: rgba(0,0,0, 0.8);
}

.our-team-section__employee-div {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;
}


@media screen and (max-width: 619px){
  .our-team-section__employee-div{
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}


.our-team-section__employee-div__image-div {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 2px 5px  5px #ccc;
}

.our-team-section__employee-div__image-div > img {
  width: 100%;
  height: 100%;
}

.our-team-section__employee-div > p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/* FOOTER */
footer {
  width:100%;
  height: 75px;
  margin-top:25px;
  background-color: #C43C29;
  display: flex;
  justify-content: center;
  align-items: flex-end
}
footer p {
  font-weight: 1em;
}
